html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

#nav {
  height: 70px;
  background-color: #ffffff47;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#map {
  height: 100%;
  width: 100%;
}
